html {
  background-color: #b8d5b8;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.container {
  background-color: rgb(205, 236, 208);
  height: 100%;
  margin: 0 80px;
  padding: 30px 20px;
}
.site-page-header {
  font-size: 27px;
}
.ant-page-header-back,
.ant-page-header-heading-title,
.title {
  display: contents;
  color: rgb(184, 67, 21);
}
.display-table {
  margin: 0px 30px;
  padding: 15px 10px;
}
.title {
  font-size: 20px;
}
.list-input {
  display: flex;
}
.list-input li {
  margin-right: 5px;
}
.header {
  z-index: 3;
}
.add-btn {
  top: 30px;
}
@media only screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
  .list-input {
    display: unset;
  }
  .list-input li {
    width: 100% !important;
  }
}
