.footer {
  position: relative;
  width: 100%;
  height: 90px;
  text-align: center;
  background-color: #bc412b;
  color: #b8d5b8;
  bottom: 0;
  margin-top: auto;
}
.footer .footer-link .footer-icon {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.footer a {
  color: #b8d5b8;
}
